* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.disable-scroll {
    position: relative;
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

dialog {
    background: none;
}

.dialog-font {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.dialog-open {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 101;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dial {
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: rgba(48, 48, 48, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 101;
    overflow-y: auto;
    overflow-x: hidden;
}

.dialog-open__label {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 2vw;
    letter-spacing: 10px;
    margin-bottom: 2vw;
    text-align: center;
}

.dialog-open__text {
    color: #fff;
    font-size: 1vw;
    letter-spacing: 1px;
    width: 70%;
    text-align: center;
}

.close-button {
    position: absolute;
    right: 40px;
    top: 20px;
    cursor: pointer;
}

.close-button span:nth-child(1) {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #fff;
    z-index: 101;
    transform: rotate(-45deg);
}

.close-button span:nth-child(2) {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #fff;
    z-index: 101;
    transform: rotate(45deg);
}


/* Блок Info */

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    width: 50px;
    height: 50px;
    top: 5%;
    right: 0.5%;
    background-color: rgba(48, 48, 48, 1);
    border-radius: 50px;
    cursor: pointer;
}

.info__content {
    font-family: Arial;
    color: #ffffff;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Навигация */

.nav-block {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    height: 20%;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    align-items: center;
    justify-content: center;
}

.nav-block ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.nav-block ul li {
    list-style-type: none;
}

.nav-block ul li a {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #346cb6;
    border-radius: 30px;
    box-shadow: 5px 5px 7px 1px rgb(0 0 0 / 50%);
}

.nav-block ul li a:hover {
    width: 21px;
    height: 21px;
}


/* Первый блок */

header {
    position: relative;
    height: 100vh;
    width: 100%;
    --shadow: 0 2px 4px rgb(0, 0, 0, 0, 0.4);
    /* переменная shadow не понятно работает или нет */
}

.img-block {
    position: absolute;
    background: rgb(177, 177, 177) url(../img/mountains-gf8b888387_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: saturate(30%) brightness(60%);
}

.title-name {
    display: inline-block;
    position: relative;
    top: 35vh;
    left: 15vw;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4vw;
    color: #fff;
    letter-spacing: 1vw;
    text-shadow: var(--shadow);
}

.title-name:after {
    content: '';
    display: block;
    position: absolute;
    height: 0.5vh;
    background-color: #fff;
    width: 55vw;
    margin-top: 1.5vw;
    box-shadow: var(--shadow);
}


/* Второй блок */

.block-two {
    /* height: 970px; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    overflow: hidden;
    min-height: 100vh;
}

.block-two>div {
    position: relative;
    min-width: 900px;
}

.block-two>div:nth-child(1) {
    left: -50%;
    width: 900px;
    background-color: #303030;
    z-index: 1;
}

.block-two>div:nth-child(2) {
    clip-path: polygon(65% 0%, 100% 50%, 65% 100%, 0% 100%, 35% 50%, 0% 0%);
    background-color: #fff;
    left: -100%;
    z-index: 2;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

.block-two>div:nth-child(3) {
    left: -80%;
    background: url(../img/sunrise-geaa6006c2_1920.jpg) 100% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    /* min-width: 1000px; */
    width: 130vw;
    z-index: 0;
    transition: all 0.5s ease-in-out;
}

.line {
    position: absolute;
    height: 55%;
    width: 2px;
    background-color: #fff;
    top: 0%;
    left: 67%;
    /* transform: rotate(-33deg); */
    transform: rotate(-33deg);
}

.list-margin {
    margin-left: 100px;
}

.list-margin *:not(.list-margin) {
    margin-bottom: 80px;
}

.list-text {
    max-width: 300px;
    position: relative;
    font-size: 14px;
}

.list-text::before {
    content: '';
    display: block;
    top: -20px;
    width: 3px;
    height: 40px;
    background-color: #949393;
    position: absolute;
    left: -15px;
}

.list-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    letter-spacing: 10px;
    text-transform: uppercase;
    margin-top: 90px;
    color: #333;
}

.list-title span:last-child {
    display: block;
    margin-left: 40px;
}


/* Третий блок */

.block-three {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 400px 1fr;
}

.block-three__left {
    background-color: #303030;
    color: #fff;
    display: grid;
    padding: 100px 50px;
    grid-template-rows: auto 1fr;
}

.block-three__left__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 500;
}

.block-three__left__content {
    display: grid;
    align-content: end;
    border-left: 2px #fff solid;
    padding-left: 30px;
    margin-top: 70px;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 30px;
}

.description {
    font-size: 13px;
    opacity: 0.9;
    letter-spacing: 1px;
    line-height: 1;
}

.block-three__right {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, auto));
    padding: 200px 200px;
    grid-gap: 80px;
}

.card {
    display: grid;
    justify-items: center;
    text-align: center;
}

.card__img {
    --deg: 29deg;
    width: 93px;
    height: 105px;
    background-color: #303030;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transform: rotate(var(--deg));
    display: grid;
    align-items: center;
    justify-items: center;
}

.card__img svg {
    transform: rotate(calc(var(--deg)*-1));
    width: 30%;
    height: 30%;
}

.card__img path {
    fill: #fff;
}

.card__title {
    text-transform: uppercase;
    font-size: 14px;
    color: #777;
    letter-spacing: 3px;
    font-family: Arial;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card__description {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1em;
}


/* Четвёртый блок */

.block-four {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 400px;
}

.block-four__left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.block-four__left>div:first-child {
    justify-self: end;
    text-align: right;
}

.block-four__left-square {
    --size: 22vw;
    --rot: 45deg;
    position: relative;
    background-color: #303030;
    height: var(--size);
    width: var(--size);
    rotate: var(--rot);
    margin-bottom: 9vw;
    margin-top: 12vw;
    top: -4vw;
    box-shadow: 0px 3vw 5vw 10px rgb(0 0 0 / 50%);
}

.block-four__left-square::before {
    content: " ";
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: -10%;
    width: 3px;
    background-color: #303030;
}

.block-four__left-square:last-child:before {
    left: initial;
    right: -10%;
}

.block-four__left-square__bg-wrap {
    height: 100%;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
}

.block-four__left-square__bg {
    height: 150%;
    width: 150%;
    background-position: center;
    background-size: cover;
    rotate: calc(var(--rot)*-1);
}

.block-four__left-txt {
    font-size: 14px;
    max-width: 300px;
}

.block-four__left-txt:last-child {
    margin-left: auto;
    margin-bottom: 6vw;
}

.block-four__left-txt+.block-four__left-square {
    top: 0;
    margin-bottom: 0;
}

.block-four__left>div:first-child .block-four__left-txt {
    border-right: 3px solid #777;
    padding-right: 20px;
}

.block-four__left>div:last-child .block-four__left-txt {
    border-left: 3px solid #777;
    padding-left: 20px;
}

.block-four__right {
    display: grid;
    /* grid-template-rows: 1fr;
    align-content: space-around; */
    justify-items: end;
    padding: 100px 60px;
    text-transform: uppercase;
    text-align: right;
}

.block-four__right-title {
    font-family: arial;
    font-size: 42px;
    letter-spacing: 10px;
    color: #303030;
}

.block-four__right-label {
    font-family: arial;
    font-size: 25px;
    letter-spacing: 7px;
    color: #666;
}

.block-four__right-desc {
    text-transform: none;
    font-size: 14px;
    max-width: 200px;
    letter-spacing: 1px;
}

.block-four__right-line {
    width: 3px;
    background-color: #303030;
    height: 170%;
}


/* Пятый блок */

.block-five {
    min-height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
}

.block-five::before {
    content: '';
    width: 2%;
    height: 60%;
    background-color: #303030;
    position: absolute;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 150px;
    padding: 5vw;
    align-items: center;
}

.content__title {
    grid-column: 1 / 3;
    font-size: 57px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 12px;
}

.content__desc {
    font-size: 14px;
    max-width: 14vw;
}

.content__item {
    grid-row: 2;
    display: grid;
    /* justify-content: center; */
}

.content__item-circle {
    --size: 20vw;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    background-color: #303030;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.content__item__title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2.5vw;
    color: #fff;
    letter-spacing: 12px;
    text-align: left;
}

.content__item__label {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.5vw;
    color: #888;
    letter-spacing: 7px;
    margin-bottom: 1vw;
}

.content__item__text {
    font-size: 1vw;
    width: 90%;
    padding-left: 1.2vw;
    letter-spacing: 1px;
}

.content__item-text {
    max-width: 20vw;
    font-size: 13px;
    margin-top: 100px;
    display: flex;
}

.content__item-text::before {
    --size: 25px;
    content: '';
    min-width: var(--size);
    height: var(--size);
    background-color: #303030;
    display: inline-block;
    margin-right: var(--size);
}

.content__item-invert .content__item-circle,
.content__item-invert .content__item-text::before {
    background-color: #fff;
    outline: 4px solid #303030;
    outline-offset: -4px;
}

.content__item__numb {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4vw;
    color: #fff;
    letter-spacing: 1vw;
    margin-bottom: 1vw;
}

.content__item__txt {
    color: #999;
    font-size: 1vw;
    width: 90%;
    padding-left: 1.4vw;
    letter-spacing: 1px;
}


/* Блок шесть */

.block-six {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    overflow-x: hidden;
}

.block-six__body {
    position: relative;
    /* clip-path: polygon(0.00% 0.00%, 30.00% 0.00%, 71.00% 100.00%, 0.00% 100.00%); */
    display: grid;
    align-items: center;
}

.block-six__content {
    height: 100%;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-rows: 1fr 1fr 100px 100px;
    margin-left: 5%;
    margin-bottom: 10%;
}

.block-six__label {
    color: #777;
    font-size: 2vw;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Arial;
}

.block-six__title {
    font-size: 4vw;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: Arial;
}

.block-six__txt {
    font-size: 1vw;
    width: 45%;
    letter-spacing: 1px;
}

.block-six__txt-block {
    display: flex;
    font-size: 1vw;
    width: 90%;
    padding-left: 1.2vw;
    letter-spacing: 1px;
}

.bloxk-six__image {
    clip-path: polygon(0.00% 0.00%, 100.00% 0.00%, 100.00% 100.00%, 45.17% 100%);
    position: absolute;
    background-color: #303030;
    background-image: url(../img/tiger-g247c9d5a0_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 70vw;
    transition: all 0.5s ease-in-out;
    z-index: 10;
    top: 0;
    right: 0;
    height: 100vh;
}